<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Description</th>
            <th>Author</th>
            <th>Delete</th>
            <th>Update</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataList">
            <td>{{ item.title }}</td>
            <td>{{ item.content }}</td>
            <td>{{ item.shortDescription }}</td>
            <td>{{ item.author }}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteBlog(item.id)">Delete blog</button>
            </td>
            <td>
              <button class="btn btn-warning" (click)="updateBlog(item.id)">Update blog</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">

  <h1 class="mt-3">Add new blog</h1>

  <form #form="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="mt-2">
      <div class="mt-3">
        <label class="form-label">Title:</label>
        <input type="text" id="title" class="form-control" name="title" [(ngModel)]="model.title">
      </div>


      <div class="mt-3">
        <label class="form-label">Content:</label>
        <input type="text" id="content" class="form-control" name="content" [(ngModel)]="model.content">
      </div>

      <div class="mt-3">
        <label class="form-label">Description:</label>
        <input type="text" id="description" class="form-control" name="description" [(ngModel)]="model.description">
      </div>

      <div class="mt-3">
        <label class="form-label">Author:</label>
        <input type="text" id="author" class="form-control" name="author" [(ngModel)]="model.author">
      </div>

      <div class="mt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>

  </form>

</div>

