<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="min-h-screen flex flex-nowrap">
    <div
      class="basis-1/2 hidden xl:flex flex-col justify-center items-center bg-gradient-to-bl from-[#a9edf6] to-[#6dafb8] select-none"
    >
      <img
        ngSrc="/assets/logo.png"
        alt="Logic Tenacity Logo"
        height="394"
        width="633"
      />
    </div>

    <div class="grow flex flex-col justify-center items-center gap-4">
      <div class="flex flex-col min-w-80 items-center justify-between gap-4">
        <mat-form-field class="w-full">
          <mat-label class="select-none" for="newPassword1"
            >New Password</mat-label
          >

          <input
            matInput
            formControlName="newPassword"
            type="password"
            name="newPassword"
            id="newPassword"
            required
            minlength="6"
          />

          <mat-error *ngIf="newPasswordFormControl.hasError('required')">
            Password is required.
          </mat-error>
          <mat-error *ngIf="newPasswordFormControl.hasError('minlength')">
            The password must have at least 6 characters.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label class="select-none" for="confirmPassword"
            >Re-type Password</mat-label
          >
          <input
            matInput
            formControlName="confirmPassword"
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            required
            minlength="6"
          />

          <p *ngIf="passwordMismatch" class="italic text-sm text-red-600">
            Passwords do not match.
          </p>

          <mat-error
            *ngIf="
              confirmPasswordFormControl.hasError('required') ||
              confirmPasswordFormControl.hasError('minlength')
            "
          >
            Re-typing password is required.
          </mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="button"
          class="w-full"
          (click)="onSubmit()"
        >
          Reset password
        </button>
      </div>
    </div>
  </div>
</form>
